version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8093:8000"
    environment:
      DEBUG: "True"
      ALLOWED_HOSTS: "*"
      CORS_ALLOW_ALL_ORIGINS: "True"
    volumes:
      - ./backend:/app
      - ./backend/db.sqlite3:/app/db.sqlite3
